/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

li { list-style: none; }

a { text-decoration: none; }

body {
  background: white;
  height: 300vh;
}
 
html {
  font-family: roboto;
  scroll-behavior: smooth;
}

header {
  background-color: #1F2937;
  h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
  }
  li, p {
    font-size: 18px;
    color: #E5E7EB;
  }
  .hl {
    font-size: 24px;
    color: #F9FAF8;
  }
  button {
    background-color: #3882F6;
  }
}

.ih {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.second {
  background-color: #E5E7EB;
  font-size: 36px;
  font-family: "the sans light- italic";

  p{
    color: #1F2937;
  }
}

.first-level-container {
  background-color: #3882F6;
}

footer {
  background-color: #1F2937;
}