/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

li { list-style: none; }

a { text-decoration: none; }

body {
  background: white;
}
 
html {
  font-family: roboto;
  scroll-behavior: smooth;
}

header {
  // colors and font styles
  background-color: #1F2937;
  h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
  }
  li, p {
    font-size: 18px;
    color: #E5E7EB;
  }
  .hl {
    font-size: 24px;
    color: #F9FAF8;
  }
  button {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 5px;
    color: white;
  }

  //Flexbox
  display: flex;
  flex-direction: column;

  .top-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;

    ul {
      display: flex;
      justify-content: space-around;
      gap: 20px;
    }
  }

  .bottom-container {
    display: flex;
    justify-content: space-between;
    margin: 60px 100px;

    .bottom-left-container {
      display: flex;
      flex-direction: column;
      margin: 10px;
      width: 500px;
      button { width: 60px;}
      p { flex-wrap: wrap;}
    }

    .p2 {
      padding: 60px;
      background-color: grey;
      border-radius: 5px;
    }
  }
}

.ih {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ih {
    align-self: center;
    margin: 50px;
  }

  .img-group-container {
    display: flex;
    align-self: center;
    margin: 50px 150px 100px;

    .pic {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      p {
        flex-wrap: wrap;
      }

      img {
        border: 5px solid #3882F6;
        width: 125px;
        height: 125px;
      }
    }
  }


}

.second {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  font-size: 36px;
  font-family: "the sans light- italic";
  padding: 100px;
  flex-wrap: wrap;

  p{
    color: #1F2937;
  }

  .p2 {
    align-self: flex-end;
    font-weight: bold;
  }

  display: flex;
  justify-content: center;
}

.third {
  display: flex;
  justify-content: center;

  .first-level-container {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    padding: 40px 100px;
    margin: 50px;
    gap: 100px;
    border-radius: 8px;
    p{
      color: white;
    }

    button {
      border: 1px solid white;
      background-color: #3882F6;
      color: white;
      border-radius: 3px;
      padding: 7px;
    }
  }
}

footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 20px;
  p {
    color: white;
  }
}