/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

li { list-style: none; }

a { text-decoration: none; }

body {
  background: white;
  height: 300vh;
}
 
html {
  font-family: roboto;
  scroll-behavior: smooth;
}

header {
  // colors and font styles
  background-color: #1F2937;
  h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
  }
  li, p {
    font-size: 18px;
    color: #E5E7EB;
  }
  .hl {
    font-size: 24px;
    color: #F9FAF8;
  }
  button {
    background-color: #3882F6;
  }

  //Flexbox
  display: flex;
  flex-direction: column;

  .top-container {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  .bottom-container {
    display: flex;
    justify-content: space-between;
  }
}

.ih {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.first {
  display: flex;
  flex-direction: column;

  .img-group-container {
    display: flex;
  }
}

.second {
  background-color: #E5E7EB;
  font-size: 36px;
  font-family: "the sans light- italic";

  p{
    color: #1F2937;
  }

  display: flex;
  justify-content: center;
}

.third {
  display: flex;
  justify-content: center;

  .first-level-container {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
  }
}

footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
}